/**
	* @name FemboyTheme
	* @description Transparency for the Discord client.
	* @version 0
	* @author TheCuteOwl
	* @invite xsbNuYXBd5
	* @donate https://paypal.me/Lylythii
	* @patreon https://patreon.com/Lylythii
	* @source https://github.com/TheCuteOwl/FemboyTheme/edit/main/femboy.css
	* @updateUrl https://raw.githubusercontent.com/Lylythii/BetterDiscordAddons/main/Themes/Priscord/Priscord.theme.css
	* Based on Priscord
	Prism's Branding; https://prismlauncher.org/wiki/branding/
*/
#app-mount .bg-1QIAus {
	background: var(--background-image);
	background-position: var(--background-image-position, center);
	background-size: var(--background-image-size, cover);
}

/* ToDo: Separate themes for Light & Dark Prism color schemes? */
:root,
.theme-dark,
.theme-light {
	--background-primary: #fef9fb;	/* Light Pink */
	--background-secondary: #fef9fb;
	--background-secondary-alt: #fef9fb;
	--background-tertiary: transparent;
	--background-accent: #b0e0ff;	/* Light Blue */
    --background-floating: #754C9490;
	--text-normal: #ffffff;
	--text-link: hsl(214, 46%, 67%);
	--header-primary: #ffffff;
	--header-secondary: #ffffff;
	/* Icons & Banners */
	--priscord-home-icon: url(https://raw.githubusercontent.com/PrismLauncher/prismlauncher.org/40d89d06ae90c7cbef18b06f52fd9a4c30c61db8/src/img/logo.svg);
	--background-image: url('https://www.solidbackgrounds.com/images/1920x1080/1920x1080-light-pink-solid-color-background.jpg');
}

.homeIcon-r0w4ny path {
	fill: transparent;
}
.homeIcon-r0w4ny {
  background: var(--priscord-home-icon) center/cover no-repeat;
  min-width: 50px;
  min-height: 50px;
}
.homeIcon-r0w4ny {
	background-color: #fef9fb;	/* Light Pink */
}


/* Scroller Borders */
.scroller-1bVxF5 {
	border: 3px solid #202225;
}


/* Create/Join Server */
.text-PdAsFQ, .defaultColor-1EVLSt {
	color: #ffffff;
}
.container-1Lk8p7, .footer-31IekZ {
	background-color: #fef9fb;	/* Light Pink */
}
.sampleLink-5BWNy9 {
	color: #b0e0ff;	/* Light Blue */
}
