/**
	* @name FemboyTheme
	* @description Discord Theme
	* @version 0
	* @author TheCuteOwl
	* @source https://github.com/TheCuteOwl/FemboyTheme/edit/main/femboy.css
	* @updateUrl https://raw.githubusercontent.com/Lylythii/BetterDiscordAddons/main/Themes/Priscord/Priscord.theme.css
	* Based on Priscord
*/
#app-mount .bg-1QIAus {
	background: var(--background-image);
	background-position: var(--background-image-position, center);
	background-size: var(--background-image-size, cover);
}

/* ToDo: Separate themes for Light & Dark Prism color schemes? */
:root,
.theme-dark,
.theme-light {
	--background-primary: #f5e5f6; /* Light Lavender */
	--background-secondary: #f5e5f6;
	--background-secondary-alt: #f5e5f6;
	--background-tertiary: transparent;
	--background-accent: #ffb7e2; /* Light Pink */
	--background-floating: rgba(117, 76, 148, 0.56);
	--text-normal: #000000; /* Black */
	--text-link: #e682b4; /* Lighter Pink */
	--header-primary: #ffffff;
	--header-secondary: #ffffff;
	/* Icons & Banners */
	--priscord-home-icon: url(https://raw.githubusercontent.com/PrismLauncher/prismlauncher.org/40d89d06ae90c7cbef18b06f52fd9a4c30c61db8/src/img/logo.svg);
	--background-image: url('https://www.solidbackgrounds.com/images/1920x1080/1920x1080-pale-pink-solid-color-background.jpg');
}

.homeIcon-r0w4ny path {
	fill: transparent;
}
.homeIcon-r0w4ny {
	background: var(--priscord-home-icon) center/cover no-repeat;
	min-width: 50px;
	min-height: 50px;
}
.homeIcon-r0w4ny {
	background-color: #f5e5f6; /* Light Lavender */
}

/* Scroller Borders */
.scroller-1bVxF5 {
	border: 3px solid #202225;
}

/* Create/Join Server */
.text-PdAsFQ,
.defaultColor-1EVLSt {
	color: #ffffff;
}
.container-1Lk8p7,
.footer-31IekZ {
	background-color: #f5e5f6; /* Light Lavender */
}
.sampleLink-5BWNy9 {
	color: #ffb7e2; /* Light Pink */
}

/* Text Input Bar */
.channelTextArea-2ACwbY textarea {
	background-color: #f9d3ea; /* Light Pink */
	border: 1px solid #e3a1c2; /* Lighter Pink */
	color: #000000; /* Black */
}

.channelTextArea-2ACwbY textarea:focus {
	border-color: #ffb7e2; /* Light Pink */
	box-shadow: 0 0 0 2px #ffb7e2; /* Light Pink */
}
